.first {
    font-family: initial;
    background-color: #2f2c2c;
    text-align: center;
    color: goldenrod;
    justify-content: center;
    margin: 2rem;
    padding: 2rem;
    font-size: 1.5rem;
    line-height: normal;
    position: relative;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.golden {
    opacity: 100%;
    width: 20rem;
}

img {
    align-items: center;
    opacity: 50%;
    width: 100rem;
    height: auto;
}

body {
    background-color: white;
}

.Certificate {
    background-color: white;
    opacity: 90%;
}

h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3rem;
}

h3 {
    font-size: 3rem;
}

h4 {
    font-size: 3rem;
}

p {
    font-size: 2rem;
}

#try {
    background-color:orange;
    color: black;
}